<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime
		  version="v4.0"
		  sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<add
		  name="eShoppingDB"
		  connectionString="Data Source=.\MSSQLSERVER08;Initial Catalog=eShopping;Integrated Security=True;TrustServerCertificate=True;Connect Timeout=10"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<!-- Giá trị mẫu. Chỉnh theo mức phí cửa hàng cấu hình. -->
		<add key="LePhiThe.VISA" value="0" />
		<add key="LePhiThe.MasterCard" value="0" />
		<add key="LePhiThe.Discover" value="0" />
		<add key="LePhiThe.AmericanExpress" value="0" />
	</appSettings>
</configuration>